<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item">
      <a
        routerLink="/hockey"
        routerLinkActive="navigation__link--active"
        class="navigation__link"
      >
        Hockey
      </a>
    </li>
    <li class="navigation__item">
      <a
        routerLink="/football"
        routerLinkActive="navigation__link--active"
        class="navigation__link"
      >
        Football
      </a>
    </li>
    <li class="navigation__item">
      <a
        routerLink="/configuration"
        routerLinkActive="navigation__link--active"
        class="navigation__link"
      >
        Configuration
      </a>
    </li>
  </ul>
</nav>
